parameters:
    query-bus:
        map: null

parametersSchema:
	query-bus: structure([
		map: schema(string())
	])

services:
    -
        factory: Lendable\Stan\QueryBusDynamicMethodReturnTypeExtension(%query-bus.map%)
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
